:root{
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
}

@-moz-document url(about:config){
  tr, table{
    background-color: transparent !important;
    border: none !important;
  }
  tr{
    outline: solid 1px #88888822 !important;
  }
}

groupbox{
/*   background: var(--zen-colors-tertiary) !important; */
  background: var(--zen-colors-border-contrast) !important;
  border: none;
}

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  body, .App{
    background-color: #00000000 !important;
  }

  .top-sites-list, .personalizeButtonWrapper{
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out;

    &:hover{
      opacity: 1 !important;
    }
  }
  
  .App > div:nth-child(2), .wallpaper{
    display: none !important;
  }
  
/*  no private hint  */
  .info-border > .info{
    display: none !important;
  }
  
/*  rounded search  */
  #search-handoff-button{
    border-radius: 2em !important;
  }
  
/*  no zen text  */
  .wordmark{
    display: none !important;
  }
}

@-moz-document url(addons.mozilla.org) {
  /* transparency */
html, body, nav, header{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer{
  display: none !important;
}
}


 /* transparency */
.pdfViewer, body:has(.pdfViewer){
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
 
/*

Natsumi Browser - A userchrome for Zen Browser that makes things flow.

Copyright (c) 2024-present Green (@greeeen-dev)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

Natsumi Browser uses code from others. The link to the original projects or
their author(s) have been provided above the used code.

*/

/* ==== Load config and Natsumi Browser Pages ==== */

/* ==== Config ==== */

/*
Feel free to change these values to whatever you want, as long
as they use the correct format.
*/

* {
  /* Accent color */
  --natsumi-pages-accent-color: #101010;

  /* Natsumi Glass Effect */
  --glass-blur-radius: 20px;
  --glass-shadow-size: 10px;
  --glass-shadow-opacity: 65%;

  /* Custom fonts experiment (must be an installed font) */
  --custom-font: 'Poppins';

  /* pdf.js */
  --pdfjs-topbar-max-width: 750px; /* use calc(100% - 10px) for max width */

}

/* preload */
/* ==== Apply config ==== */

/*
NOTE: DO NOT USE THIS AS YOUR CONFIG FILE.

The below code applies your config (or default values if needed) and they should never be modified.
Edit the natsumi-config.css file instead.
 */

* {
  /* Colors */
  --natsumi-primary-color: var(--natsumi-pages-accent-color, #aac7ff);
  --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
  --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);
  --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 2%, white 98%);
  --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

  @media (prefers-color-scheme: dark) {
    --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 20%, #202020 80%);
    --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 30%, #202020 70%);
    --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 1%, #202020 99%);
    --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

    @media (-moz-bool-pref: 'zen.theme.color-prefs.colorful') {
      --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
      --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 40%, black 60%);
      --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 15%, black 85%);
      --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);
    }
  }

  /* Glass effect */
  --natsumi-glass-background: color-mix(in srgb, var(--natsumi-colors-secondary) 85%, transparent);
  --natsumi-glass-blur-radius: var(--glass-blur-radius, 10px);
  --natsumi-glass-shadow-size: var(--glass-shadow-size, 10px);
  --natsumi-glass-shadow-opacity: var(--glass-shadow-opacity, 75%);

  /* pdf.js */
  --natsumi-pdfjs-topbar-max-width: var(--pdfjs-topbar-max-width, 750px);

}


/* pdfjs */

/* ==== PDF viewer tweaks ==== */

@keyframes pdfjs-appear {
  from {
    opacity: 0;
    filter: blur(5px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes secondary-appear {
  0% {
    opacity: 0;
    margin-top: -10px;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    margin-top: 0;
    filter: blur(0);
  }
}

@keyframes properties-appear {
  0% {
    opacity: 0;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@media not (-moz-bool-pref: "natsumi.pdfjs.disabled") {
  html[mozdisallowselectionprint] {
    &:has(head link:nth-of-type(1)[href^="resource://pdf.js"]) {
      --natsumi-colors-border: color-mix(in srgb, var(--natsumi-colors-secondary) 80%, black 20%);
      --toolbarbutton-active-background: rgba(255, 255, 255, 0.9);
      --toolbarbutton-hover-background: color-mix(in srgb, #202020 10%, transparent);

      @media (prefers-color-scheme: dark) {
        --toolbarbutton-active-background: color-mix(in srgb, var(--natsumi-primary-color) 50%, rgba(255, 255, 255, .1));
        --toolbarbutton-hover-background: color-mix(in srgb, #ebebeb 10%, transparent);
      }

      body {
        @media (prefers-color-scheme: dark) {
          background-color: color-mix(in srgb, var(--natsumi-colors-tertiary) 70%, #0f0f0f 30%) !important;
        }
      }

      #viewerContainer {
        inset: 0 !important;

        #viewer > .page:first-of-type,
        #viewer .spread:first-of-type .page {
          margin-top: 43px !important;
          transition: margin-top 0.3s ease;
        }
      }

      .toolbar {
        width: 100%;
        height: 10px;

        @media (-moz-bool-pref: "natsumi.theme.compact-marginless") {
          height: 15px;
        }
      }

      #toolbarContainer, #sidebarContainer {
        background: var(--natsumi-glass-background) !important;
        backdrop-filter: blur(10px);
        border-radius: 10px;
      }

      #toolbarContainer {
        position: absolute !important;
        top: 5px !important;
        left: 50% !important;
        transform: translate(-50%, 0);
        width: calc(100% - 10px) !important;
        max-width: min(var(--natsumi-pdfjs-topbar-max-width), calc(100% - 10px)) !important;
        border-radius: 10px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        height: calc(var(--toolbar-height) + 10px) !important;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;
        animation: pdfjs-appear 0.3s ease;
        overflow: hidden !important;

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }

        &:has(#loadingBar.hidden) {
          overflow: visible !important;
        }

        #toolbarViewer {
          padding-left: 5px;
          padding-right: 5px;
        }

        .doorHangerRight {
          padding: 5px !important;
          top: 40px !important;
          right: -7px !important;
          background: var(--natsumi-glass-background) !important;
          backdrop-filter: blur(10px);
          border-radius: 10px !important;
          border: 1px solid rgba(20, 20, 20, 0.2) !important;
          box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;
          animation: secondary-appear 0.3s ease;

          &.hidden {
            animation: none !important;
          }

          @media (prefers-color-scheme: dark) {
            border-color: rgba(235, 235, 235, 0.3) !important;
          }

          &::before, &::after {
            display: none !important;
          }
        }

        .thicknessPicker {
          &::before, &::after {
            @media (prefers-color-scheme: dark) {
              background-color: white !important;
            }
          }
        }

        #loadingBar {
          top: unset !important;
          bottom: 0 !important;
          border: none !important;

          .progress {
            background-color: var(--natsumi-primary-color) !important;
          }
        }
      }

      #sidebarContainer {
        height: calc(100% - 62px) !important;
        left: -5px !important;
        top: auto !important;
        bottom: 5px !important;
        opacity: 0 !important;
        transition: left 0.2s ease, opacity 0.2s ease, filter 0.2s ease !important;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;
        filter: blur(5px);

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }

        #toolbarSidebar {
          background: transparent !important;
          box-shadow: none !important;
          padding: 5px !important;
          height: calc(var(--toolbar-height) + 10px) !important;
        }

        #sidebarContent {
          margin-top: 10px !important;
          box-shadow: none !important;
        }

        .treeItem {
          a, .treeItems {
            border-radius: 5px !important;
            transition: background-color 0.2s ease;
          }

          .treeItemToggler {
            &::before {
              background-color: transparent !important;
              mask-image: none !important;
              background-image: url('chrome://browser/skin/zen-icons/arrow-down.svg') !important;

              @media (prefers-color-scheme: dark) {
                filter: invert();
              }
            }

            &.treeItemsHidden::before {
              background-image: url('chrome://browser/skin/zen-icons/arrow-right.svg') !important;
            }
          }
        }

        .thumbnail {
          margin-bottom: 22px !important;
          transition: border-color 0.2s ease;

          &::after {
            content: attr(data-page-number);
            display: block;
            color: black;
            width: 100%;
            margin-top: 8px;
            text-align: center;

            @media (prefers-color-scheme: dark) {
              color: white;
            }
          }
        }
      }

      #outerContainer.sidebarOpen #sidebarContainer {
        left: 5px !important;
        opacity: 1 !important;
        filter: blur(0);
      }

      #scaleSelectContainer {
        border-radius: 4px !important;
        overflow: hidden !important;

        select {
          background-color: #f1f1f1 !important;

          @media (prefers-color-scheme: dark) {
            background-color: #363636 !important;
          }
        }
      }

      #pageNumber {
        border-radius: 4px !important;
        overflow: hidden !important;
        background-color: #ffffff !important;
        border-color: var(--natsumi-colors-border) !important;

        @media (prefers-color-scheme: dark) {
          background-color: #23222b !important;
        }
      }

      .verticalToolbarSeparator, .splitToolbarButtonSeparator, .horizontalToolbarSeparator, .separator {
        border-color: rgba(20, 20, 20, 0.2) !important;

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }
      }

      #editorHighlightVisibility .divider {
        background-color: rgba(20, 20, 20, 0.2) !important;

        @media (prefers-color-scheme: dark) {
          background-color: rgba(235, 235, 235, 0.3) !important;
        }
      }

      .toolbarButton {
        border-radius: 6px !important;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--toolbarbutton-hover-background) !important;
        }

        &.toggled {
          background-color: var(--toolbarbutton-active-background) !important;
        }

        &::before {
          mask-size: contain !important;
          mask-repeat: no-repeat;
          -moz-context-properties: fill;
        }
      }

      /* Document properties */

      #documentPropertiesDialog {
        background: var(--natsumi-glass-background) !important;
        backdrop-filter: blur(10px);
        border-radius: 10px !important;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }

        &:is([open]) {
          animation: properties-appear 0.3s ease !important;
        }

        #documentPropertiesClose {
          border-radius: 5px !important;
          background-color: #f1f1f1 !important;

          @media (prefers-color-scheme: dark) {
            background-color: #363636 !important;
          }
        }
      }

      /* Compact mode */

      @media (-moz-bool-pref: "natsumi.pdfjs.compact") {
        .toolbar {
          #toolbarContainer {
            opacity: 0 !important;
            pointer-events: none;
            top: -5px !important;
            transition: opacity 0.3s ease, top 0.3s ease, filter 0.3s ease;
            filter: blur(5px);
          }

          &:hover, &:has(.toolbarButton:not(#sidebarToggleButton)[aria-expanded="true"]),
          &:has(input:focus), &:has(select:focus) {
            height: 52px;

            #toolbarContainer {
              top: 5px !important;
              opacity: 1 !important;
              pointer-events: auto;
              filter: blur(0);
            }
          }
        }

        @media (-moz-bool-pref: "natsumi.pdfjs.compact-dynamic") {
          .toolbar:has(#sidebarToggleButton[aria-expanded="true"]) {
            height: 52px;

            #toolbarContainer {
              top: 5px !important;
              opacity: 1 !important;
              pointer-events: auto;
              filter: blur(0);
            }
          }

          &:has(#sidebarToggleButton:not([aria-expanded="true"])) {
            #viewer > .page:first-of-type,
            #viewer .spread:first-of-type .page {
              margin-top: 0 !important;
            }
          }
        }

        @media not (-moz-bool-pref: "natsumi.pdfjs.compact-dynamic") {
          #viewer > .page:first-of-type,
          #viewer .spread:first-of-type .page {
            margin-top: 0 !important;
          }
        }
      }

      /* Topbar buttons */

      #previous::before {
        mask-image: url('chrome://browser/skin/zen-icons/arrow-up.svg') !important;
      }

      #next::before {
        mask-image: url('chrome://browser/skin/zen-icons/arrow-down.svg') !important;
      }

      #zoomOutButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/zoom-out.svg') !important;
      }

      #zoomInButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/plus.svg') !important;
      }

      #sidebarToggleButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/sidebar.svg') !important;
      }

      #editorHighlightButton::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-editorHighlight.svg') !important;
      }

      #editorFreeTextButton::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-editorFreeText.svg') !important;
      }

      #editorInkButton::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-editorInk.svg') !important;
      }

      #editorStampButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/canvas.svg') !important;
      }

      #secondaryPrint::before, #printButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/print.svg') !important;
      }

      #secondaryDownload::before, #downloadButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/save.svg') !important;
      }

      #presentationMode::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-presentationMode.svg') !important;
      }

      #viewBookmark::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-bookmark.svg') !important;
      }

      #firstPage::before {
        mask-image: url('chrome://browser/skin/zen-icons/arrow-up.svg') !important;
      }

      #lastPage::before {
        mask-image: url('chrome://browser/skin/zen-icons/arrow-down.svg') !important;
      }

      #pageRotateCw::before {
        mask-image: url('chrome://browser/skin/zen-icons/reload.svg') !important;
      }

      #pageRotateCcw::before {
        transform: scaleX(-1);
        mask-image: url('chrome://browser/skin/zen-icons/reload.svg') !important;
      }

      #cursorSelectTool::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-selectTool.svg') !important;
      }

      #cursorHandTool::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-handTool.svg') !important;
      }

      #scrollPage::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-scrollPage.svg') !important;
      }

      #scrollVertical::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-scrollVertical.svg') !important;
      }

      #scrollHorizontal::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-scrollHorizontal.svg') !important;
      }

      #scrollWrapped::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-scrollWrapped.svg') !important;
      }

      #spreadNone::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-spreadNone.svg') !important;
      }

      #spreadOdd::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-spreadOdd.svg') !important;
      }

      #spreadEven::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-spreadEven.svg') !important;
      }

      #documentProperties::before {
        mask-image: url('resource://pdf.js/web/images/secondaryToolbarButton-documentProperties.svg') !important;
      }

      #editorStampAddImage::before {
        mask-image: url('chrome://browser/skin/zen-icons/plus.svg') !important;
      }

      #secondaryToolbarToggleButton::before {
        mask-image: url('chrome://browser/skin/zen-icons/arrow-right.svg') !important;
      }

      /* Sidebar buttons */

      #viewThumbnail::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-viewThumbnail.svg') !important;
      }

      #viewOutline::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-viewOutline.svg') !important;
      }

      #viewAttachments::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-viewAttachments.svg') !important;
      }

      #viewLayers::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-viewLayers.svg') !important;
      }

      #currentOutlineItem::before {
        mask-image: url('resource://pdf.js/web/images/toolbarButton-currentOutlineItem.svg') !important;
      }

      /* Checked buttons */

      #secondaryToolbarButtonContainer .toolbarButton[aria-checked="true"]::before {
        mask-image: url('chrome://browser/skin/zen-icons/checkmark.svg') !important;
      }
    }
  }
}

/* global */
/* ==== Global tweaks ==== */

* {
  /*noinspection CssInvalidFunction*/
  @media (-moz-bool-pref: "natsumi.global.highlight-accent-color") {
    &::-moz-selection, &::selection {
      background: var(--natsumi-primary-color) !important;

      @media (prefers-color-scheme: dark) {
        background: color-mix(in srgb, var(--natsumi-colors-primary) 60%, white) !important;
      }
    }
  }
}

@-moz-document domain(monkeytype.com) {
  body {
    background: transparent !important;
  }
}

@-moz-document domain(zen-browser.app) {
  body,
  html {
    background: transparent !important;
  }
}

@-moz-document domain(reddit.com) {
  body,
  html {
    background: transparent !important;
  }
  #comment-tree {
    background: transparent !important;
  }
  .bg-neutral-background,
  .bg-neutral-background-weak,
  flex-left-nav-container[expanded="1"] #flex-left-nav-container {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  .bg-\[color\:var\(--shreddit-content-background\)\] {
    background-color: transparent !important;
  }
  .threadline,
  .shreddit-post,
  aside,
  comment-body-header,
  shreddit-comment-tree {
    background-color: transparent !important;
  }
}-

@-moz-document domain(chatgpt.com) {
  body, html,
    .bg-token-main-surface-primary, /* Navbar */
    .bg-token-sidebar-surface-primary, /* Sidebar */
    .bg-token-sidebar-surface-primary * /* All sidebar elements */ {
    background: transparent !important;
  }
}

@-moz-document domain(deepseek.com) {
  body, html,
  ._48cdfc1, ._83421f9 ._2f87737 {
    background: transparent !important;
  }
  [data-ds-dark-theme] ._2be88ba,
  [data-ds-dark-theme] ._77cefa5,
  .b8812f16, [data-ds-dark-theme] ._83421f9 {
    background: rgba(0,0,0,0.2) !important;
  }
  [data-ds-dark-theme] .dd442025,
  [data-ds-dark-theme] ._62b4800,
  [data-ds-dark-theme] ._62b4800,
  ._871cbca {
    background: none !important;
  }
}

@-moz-document domain(app.raindrop.io) {
  html,
  body,
  .svMain,
  .main-XeiN,
  article,
  .svReader {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
      border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  .grid-fBOX .permalink-Wc76,
  .masonry-hCrE .permalink-Wc76,
  article:before,
  .header-Tqac,
  .button-dQdc[data-variant="outline"],
  .svSidebar,
  .svSidebar::after {
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
      border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  .footer-jiX_[data-compact="true"] {
    background: none !important;
  }
  .header-Tqac[data-fancy="true"],
  .header-Tqac[data-solid="true"] {
    backdrop-filter: blur(10px);
  }
}

@-moz-document domain(monica.im) {
  body,
  html {
    background: transparent !important;
  }
}

@-moz-document domain(google.com) {
  .sfbg {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(20px);
  }
  body,
  html,
  .f6F9Be,
  div#search > * {
    background-color: transparent !important;
  }
  .g,
  .appbar {
    background-color: transparent !important;
  }
  div#rso {
    * {
      background-color: transparent !important;
    }
  }
  div#cnt > div {
  }
}

@-moz-document domain(search.brave.com) {
  body,
  html {
    background: transparent !important;
  }
  .snippet.svelte-n9nog2 {
    background: transparent !important;
  }
}

@-moz-document domain(github.com) {
  body,
  html,
  header,
  #repository-container-header,
  .gh-header,
  .bgColor-muted,
  section,
  .feed-background,
  .color-bg-default {
    background-color: transparent !important;
  }

  .feed-item-content,
  .discussion-timeline-actions {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

@-moz-document domain(duckduckgo.com) {
  body,
  html,
  .site-wrapper,
  .zci-wrap,
  .zci,
  .header-wrap,
  .metabar,
  .footer,
  *::before,
  .module--translations-translatedtext {
    background: transparent !important;
  }
}

@-moz-document domain(discord.com) {
  :root, .theme-light,
  .theme-dark {
   --background-primary: #00000000 !important;
   --background-secondary: #00000000 !important;
   --background-tertiary: #00000000 !important;
   --home-background: #00000000 !important;
   --bg-base-primary: #00000000 !important;
   --background-base-lowest: transparent !important;
  }
  html, body, #pass-sidebar, header, .app-root, #main, main, #content,
  .callContainer_cb9592, .bg__960e4, .tabBody__133bf, .chat_f75fb0, .page_c48ade,
  .children__9293f::after, .contentRegionScroller__23e6b, .childContainer__91a9d,
  .visual-refresh .member__5d473, .visual-refresh .content__908e2, .container_f369db, [aria-label="Resize Sidebar"] {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  nav, section, .header__34c2c, 
  .visual-refresh .container__37e49,
  .container_c8ffbb, .members_c8ffbb,
  .visual-refresh .sidebar_c48ade,
  :where(.visual-refresh) .themedBackground__74017,
  .visual-refresh .channelTextArea_f75fb0 {
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0.1) !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  .title_c38106 {
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .visual-refresh .sidebarListRounded_c48ade {
    border-top-left-radius: 0 !important;
    border: 0 !important
  }
  .mainCard_f369db{
   background: none !important;
  }
  .floating__01ae2 {
    background-color: var(--panel-bg) !important;
  }
  img.bannerImg_f37cb1 {
   border-radius: 0 0 1em 1em !important;
  }
  .app_a3002d{
    color: transparent !important;
  }
}

@-moz-document domain(instagram.com){
  *{
    background-color: transparent !important;
  }
  div.xixxii4:nth-child(2){
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-right: transparent !important;
    border-radius: 5px !important;
  }
  div.x1hnuoi9:nth-child(1) > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  .xseo6mj{
    padding-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
  }
  .x1uipg7g{
    border-left: transparent !important;
    border-right: transparent !important;
  }
  div.xjp7ctv:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
  }
  *{
    --mwp-message-row-background: transparent !important;
  }
  .x1u3tz30{
    background-color: rgba(0, 0, 0, 0.55) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .xmnaoh6 > div:nth-child(1) > div:nth-child(1){
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
  }
  .x1p0ryx0{
    border-right: 0 !important;
  }
  .xq9evs9{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .x1l895ks:hover{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
  }
  .x19g9edo{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
  }
  .xrrpcnn{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 1.5rem !important;
  }
  .xpmdkuv{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 1.5rem !important;
  }
  .x1yvgwvq{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 1rem !important;
  }
  .x1tu34mt{
    background-color: rgb(var(--ig-primary-button)) !important;
  }
  div.x1afcbsf{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .xleuxlb > div:nth-child(1){
    border-right: transparent !important;
  }
}

/* ————— YouTube ————— */
@-moz-document domain(youtube.com) {
  /* make page background fully transparent */
  body,
  html,
  ytd-app,
  #page-manager,
  #columns,
  #content,
  ytd-masthead,
  #masthead-container {
    background: transparent !important;
    background-color: transparent !important;
  }

  /* lightly tint video player, comments & sidebar panels */
  ytd-watch-flexy,
  #player,
  #comments,
  #secondary {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}
